.logo {
  width: 40px;
  height: 40px;
}

.block__header-container {
  display: flex;
  justify-content: space-between;
  margin: 2.3rem 2.3rem 0;
  min-height: 5vh;
}

@media screen and (min-width: $display-tablet) {
  .block__header-container {
    min-height: unset;
    margin: 2.3rem 16.5rem 0;
  }
}

@media screen and (min-width: $display-desktop) {
  .block__header-container {
    margin-top: 5.5rem;
  }
}
