.btn {
  border-radius: 8px;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1.1rem 1.4rem;
  text-transform: uppercase;
  min-width: 16rem;

  &:hover {
    box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: background 0.1s ease-in;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.btn-accent {
  background: $color-accent;
  color: $color-white;

  &:hover {
    background: $color-accent--pale;
    color: $color-white;
  }
}

.btn-secondary {
  background: $color-light-gray;
  color: $color-primary;

  &:hover {
    background: $color-primary;
    color: $color-white;
  }
}

@media screen and (min-width: $display-tablet) {
  .btn {
    padding: 1.6rem 2.7rem;
  }
}
