.description {
  margin: 7.5rem 2.4rem 2.4rem;
}

.description__text {
  margin: 0;
}

@media screen and (min-width: $display-tablet) {
  .description {
    display: flex;
    align-items: center;
    margin-right: 3.6rem;
  }

  .description__header {
    margin: 0 12rem 0 0;
  }

  .description__content-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: $display-desktop) {
  .description__header {
    margin: 0;
  }

  .description {
    padding: 0 10rem;
    margin: 0;
    display: initial;
    align-self: center;
  }

  .description__text {
    margin-top: 2.7rem;
  }

  .description__content-container {
    display: initial;
  }
}
