.feature {
  margin: 4.8rem 2.4rem 0;
}

.feature__header {
  margin-top: 0;
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.feature__text {
  margin: 0;
}

@media screen and (min-width: $display-tablet) {
  .feature {
    margin: 4.8rem 2.4rem 0 0;
  }

  .feature__header {
    margin: 0;
  }

  .feature__text {
    margin-top: 2.4rem;
  }
}

@media screen and (min-width: $display-desktop) {
  .hero__image--left {
    align-self: end;
  }

  .block__description {
    display: grid;
    grid-template-columns: auto 40%;
  }

  .feature {
    display: initial;
    margin: 0%;
    align-self: center;
    padding: 0 10rem;
  }

  .feature__text {
    margin-top: 2.7rem;
  }
}

@media screen and (min-width: 1440px) {
  .block__description {
    display: grid;
    grid-template-columns: auto 30%;
  }
}
