.icon-container {
  align-items: center;
  background: $color-accent;
  border-radius: 16px;
  display: flex;
  height: 65px;
  justify-content: center;
  margin: 0 auto;
  width: 65px;
}

.icon-battery {
  width: 31.99px;
  height: 20px;
}

.icon-bluetooth {
  width: 17.68px;
  height: 27.86px;
}

.icon-compatible {
  width: 25.14px;
  height: 18.24px;
}

.icon-light {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: $display-tablet) {
  .icon-container {
    margin: 0 auto 0 0;
  }
}
