$color-primary: #162542;
$color-secondary: #7b8bad;
$color-accent: #f16718;
$color-accent--pale: #ff9b62;
$color-light-gray: #e8eff2;
$color-white: #ffffff;
$display-tablet: 768px;
$display-desktop: 1024px;
$display-desktop-large: 1450px;
