@import "/scss/normalize.css";
@import "variables";
@import "shared";
@import "typography";
@import "hero";
@import "description";
@import "feature";
@import "icon";
@import "button";
@import "block-features";
@import "images";
@import "block-header";
@import "footer";

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
  max-width: 1440px;
  margin: auto;
}
