@import url(/scss/normalize.css);
h1,
h2,
h3 {
  color: #162542;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0px;
  text-transform: uppercase; }

h1 {
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-align: left; }

h2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-align: center; }

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center; }

p {
  color: #7b8bad;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 2.6rem;
  text-align: center; }

@media screen and (min-width: 768px) {
  h2 {
    text-align: left; }
  h3 {
    text-align: left; }
  p {
    text-align: left; } }

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5.6rem;
    line-height: 5.6rem; }
  h2 {
    text-align: left; }
  h3 {
    text-align: left; }
  p {
    text-align: left; } }

.header__text {
  margin: 0;
  text-align: left; }

.hero__header {
  padding: 0 11px; }

.hero__footer {
  margin-top: 3.2rem; }

.footer__text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  text-align: left;
  color: #7b8bad; }

.hero__footer .btn {
  margin-right: 1rem; }

.block__hero {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 6.4rem;
  overflow: hidden; }

.hero__image {
  transform: translateX(18px); }

.hero__image-square {
  display: none; }

@media screen and (min-width: 768px) {
  .hero__image {
    transform: translateX(0); }
  .block__hero {
    margin-top: 6.2rem;
    padding-left: 4rem;
    grid-template-columns: 52% 65%;
    grid-gap: 3rem;
    grid-row-gap: 0; }
  .hero__header {
    padding: 0;
    align-self: center; }
  .header__title {
    margin-bottom: 2.4rem; } }

@media screen and (min-width: 1024px) {
  .block__hero {
    grid-template-columns: 42% 42% auto;
    padding-left: 16.5rem; }
  .hero__header {
    padding-right: 4rem; }
  .hero__image-square {
    display: initial;
    width: 255px;
    height: 240px; } }

@media screen and (min-width: 1440px) {
  .hero__header {
    padding-right: 13rem; } }

.description {
  margin-bottom: 2.4rem; }

.description__text {
  margin: 0; }

@media screen and (min-width: 768px) {
  .description {
    margin-right: 3.6rem; }
  .description__content-container {
    display: flex;
    align-items: center; } }

@media screen and (min-width: 1024px) {
  .description {
    margin-right: 2.7rem; }
  .description__content-container {
    display: initial; } }

.feature {
  margin: 4.8rem 2.4rem 0; }

.feature__header {
  margin-top: 0;
  font-size: 3.2rem;
  line-height: 3.6rem; }

.feature__text {
  margin: 0; }

@media screen and (min-width: 768px) {
  .feature {
    margin: 4.8rem 2.4rem 0 0; }
  .feature__header {
    margin: 0; }
  .feature__text {
    margin-top: 2.4rem; } }

@media screen and (min-width: 1024px) {
  .hero__image--left {
    align-self: end; }
  .block__description {
    display: grid;
    grid-template-columns: auto 40%; }
  .feature {
    display: initial;
    margin: 0%;
    align-self: center;
    padding: 0 10rem; }
  .feature__text {
    margin-top: 2.7rem; } }

@media screen and (min-width: 1440px) {
  .block__description {
    display: grid;
    grid-template-columns: auto 30%; } }

.icon-container {
  align-items: center;
  background: #f16718;
  border-radius: 16px;
  display: flex;
  height: 65px;
  justify-content: center;
  margin: 0 auto;
  width: 65px; }

.icon-battery {
  width: 31.99px;
  height: 20px; }

.icon-bluetooth {
  width: 17.68px;
  height: 27.86px; }

.icon-compatible {
  width: 25.14px;
  height: 18.24px; }

.icon-light {
  width: 32px;
  height: 32px; }

@media screen and (min-width: 768px) {
  .icon-container {
    margin: 0 auto 0 0; } }

.btn {
  border-radius: 8px;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1.1rem 1.4rem;
  text-transform: uppercase;
  min-width: 16rem; }
  .btn:hover {
    box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: background 0.1s ease-in;
    cursor: pointer; }
  .btn:focus {
    outline: none; }
  .btn:active {
    transform: translateY(0);
    box-shadow: none; }

.btn-accent {
  background: #f16718;
  color: #ffffff; }
  .btn-accent:hover {
    background: #ff9b62;
    color: #ffffff; }

.btn-secondary {
  background: #e8eff2;
  color: #162542; }
  .btn-secondary:hover {
    background: #162542;
    color: #ffffff; }

@media screen and (min-width: 768px) {
  .btn {
    padding: 1.6rem 2.7rem; } }

.block-features {
  margin-top: 11rem;
  display: grid;
  grid-row-gap: 6.4rem; }

@media screen and (min-width: 768px) {
  .block-features {
    grid-template-columns: auto auto;
    grid-column-gap: 7rem;
    margin-left: 2.4rem; } }

@media screen and (min-width: 1024px) {
  .block-features {
    margin: 16.5rem 2.4rem;
    grid-row-gap: 0;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3rem; } }

@media screen and (min-width: 1440px) {
  .block-features {
    margin-right: 16.5rem;
    margin-left: 16.5rem; } }

.img {
  border-radius: 25px;
  width: 100%; }

.img-description--left {
  mix-blend-mode: multiply; }

.description__img-container {
  display: flex;
  margin-top: 2.4rem; }

.img-description__container-left {
  background-color: #f16718;
  position: relative;
  left: -24px;
  border-radius: 25px; }

@media screen and (min-width: 768px) {
  .img-description__container-left {
    overflow: hidden;
    position: static; }
  .img-description--left {
    transform: scale(1.3); }
  .description__img-container {
    gap: 2.4rem; } }

@media screen and (min-width: 1024px) {
  .description__img-container {
    display: inline-grid;
    grid-template-columns: 12% 29% auto; }
  .hero__image--left {
    justify-self: end; } }

@media screen and (min-width: 1440px) {
  .description__img-container {
    grid-template-columns: 12% 30% auto; } }

.logo {
  width: 40px;
  height: 40px; }

.block__header-container {
  display: flex;
  justify-content: space-between;
  margin: 2.3rem 2.3rem 0; }

@media screen and (min-width: 1024px) {
  .block__header-container {
    margin: 2.3rem 16.5rem 0; } }

.block__footer {
  text-align: center;
  color: #7b8bad;
  font-size: 1.6rem;
  margin-top: 10rem;
  margin-bottom: 5rem; }

@media screen and (min-width: 768px) {
  .block__footer {
    margin-top: 14rem;
    margin-bottom: 4rem; } }

@media screen and (min-width: 1024px) {
  .block__footer {
    margin-top: 13rem;
    margin-bottom: 4rem; } }

html {
  font-size: 62.5%; }

body {
  font-family: "Barlow", sans-serif; }
